/* Top navigation */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 10vh;
}

.extra-options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-icon img, .menu-icon img {
    width: 20px;
}

/* Mobile menu styling */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 1000;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.close-icon {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #0a2071;
}

.mobile-menu-links {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.mobile-menu-links li {
    padding: 15px 20px;
    border-left: 2px solid #0a2071;
    border-right: 2px solid #0a2071;

    border-bottom: 1px solid #ddd;
    margin-bottom: 1px;
}

.mobile-menu-links li:hover {
    border-left: 2px solid red;
    border-right: 2px solid red;

}

.mobile-menu-links li a {
    text-decoration: none;
    color: #003366;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.mobile-menu-links li a:hover {
    color: red;
}

.mobile.navbar{
    overflow-x: hidden;
}
/* Hide mobile menu on larger screens */
@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }
}

/* Mobile adjustments */
@media (max-width: 769px) {
    .navbar-container {
        flex-direction: revert !important;
        text-align: center;
        width: 100%;
        margin-left: -140px;
        margin-right: -110px;
        padding-left: 2px;
        padding-right: 2px;
        gap: 10rem;
    }
    .mobile-menu-links li a {
        justify-content: left;
    }
}

/* Dropdown styling */
.nav-item.dropdown {
    position: relative;
}

.nav-link.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 4px;
    z-index: 1000;
    width: 100%; /* Adjust width as needed */
}

.dropdown-menu .content {
    display: flex;
    flex-direction: column;
}

.sublink ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-title {
    margin-bottom: 0.5rem;
}

.nav-title a {
    text-decoration: none;
    color: #333;
}

.nav-title a:hover {
    color: #007bff; /* Adjust color on hover */
}

/* Icon styling */
.person-icon img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .person-icon img{
        width: 25px;
    }
    .nav-bar-flex{
        display: flex;
        align-items: center;
        gap: 20px;
    }
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: rgba(250,250,250,.3);
  padding: 10px 20px;
}

.top-nav {
    font-family: 'Cinzel', sans-serif;
    display: flex;
    align-items: end;
    text-align: end;
    justify-content: end;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #0a2071;
  font-size: 14px;
}

.navbar-links li a:hover,
.nav-links li a:hover{
    color: red;
}
.extra-options {
  display: flex;
  align-items: center;
  margin-right: -20px;
}

.search-icon img{
    margin-right: 10px;
    width: 12px;
}

.language-dropdown select {
  border: none;
  font-size: 14px;
  background: none;
}

.navbar-container {
  font-family: 'Cinzel', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}



.navbar-logo span {
  font-size: 14px;
  color: #003366;
}

.navbar-links {
  list-style: none;
  display: flex;
  background-image: url('background-image.jpg'); /* Replace with your background image */
  background-size: cover;
  padding: 5px 10px;
  gap: 20px;
}

.navbar-links li {
  position: relative;
  margin: 0 10px;
}

.navbar-links li a {
  text-decoration: none;
  color: #003366;
  font-size: 20px;
}


.navbar-links li::after {
  content: '+';
  
  position: absolute;
right: -25px;
color: #ccc;
font-size: 30px;
top: -6px;
}
.navbar-links li:hover::after{
    color: red;
}
.navbar-links li:last-child::after {
  content: ''; /* Remove the separator from the last item */
}

.navbar-my-cma {
  color: #FF0000; /* Red color for My CMA CGM */
  font-weight: bold;
}

.mobile-navbar{
    display: none;
    font-family: 'Cinzel', sans-serif;
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none;
    font-family: 'Cinzel', sans-serif;
  }
}
@media (max-width: 768px) {

    .navbar-links li::after{
        left: -15px;
        right: auto;
    }
  .top-nav {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-links li {
    margin: 5px 0;
  }

  .search-icon, .language-dropdown {
    margin-top: 10px;
  }

  .navbar-container {
    flex-direction: column;
    text-align: center;
  }

  .navbar-links {
    flex-direction: column;
  }

  .navbar-links li {
    margin: 5px 0;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }
  .desktop-navbar{
    display: none;
  }
  .mobile-navbar{
    display: block;
  }
}
/**************************************Content Video*****************************************************/
 /* CSS Styling */
 .video-background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.video-background .content-p {
    position: relative;
    top: 50%;
    color: rgb(173, 124, 30) !important;
    font-size: 1.1rem;
    
    font-weight: 600;
    width: 770px;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid rgb(173, 124, 30) ;
}
.content-p h2{
    text-align: left;
}
/***********************************************  ***********************************************/
.video-container {
    position: relative;
    width: 100%;
    height: 125vh; /* Full viewport height for the video */
    overflow: hidden; /* Hide any overflow */
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire area */
}

.overlay-content {
    position: absolute; /* Overlay content on top of video */
    top: 50%; /* Position from the top */
    left: 32%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center */
    color: white; /* Text color */
    width: 60%;
    text-align: center; /* Center-aligns text */
    z-index: 1; /* Ensure overlay is above video */
}
.overlay-content h2{
    
    text-align: left;
    border-bottom: 2px solid rgba(255, 0, 0, 0.527);
}
.oc{
    font-size: 25px;
    color: #003366;
    font-family: 'Cinzel', sans-serif;
}
@media (max-width: 768px) {
    .oc{
        font-size: 16px !important;
    }
}
@media (max-width: 425px) {
    .oc{
        font-size: 10px !important;
    }
}

.content-below {
    padding: 20px; /* Spacing around content */
    background-color: #f0f0f0; /* Optional: background color for content */
    text-align: center; /* Center-aligns text */
    height: 100vh;
}
/*************************************************************************************************************/
/******************************************** widget-container ***********************************************/
.widget-container{
  width: 90%;
  height: 50vh;
  position: absolute;
  top: 127.5%;
  left: 5%;
  
}

/**************************Tabs*********************************/
/* styles.css */
.tabs-container {
  position: relative;
  top: 40%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  
}

.tabs button {
  width: 30%;
  height: 60px;
  margin: 2px;
  padding: 10px 20px;
  border: 1px solid #003366;
  font-size: large;
  font-family: 'Cinzel', sans-serif !important;
  font-weight: normal;
    font-style: normal;
  color: #003366;
  cursor: pointer;
  outline: none;
  background-color: #eee;
  margin-right: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
/**************************** Icons ****************************/
.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.icon-book::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('icons/Book.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
/*****************************************************************/
@media (max-width: 768px) {
  .tabs button {
    font-size: small;
    padding: 8px 10px;
    width: 29.5%;
  }
}
@media (max-width: 425px) {
  .tabs button {
    font-size: 12px;
    padding: 6px 5px;
    width: 29%;
  }
}

.tabs button.active {
  background-color: white;
}

.tab-content {
  margin-top: 2px;
  margin-left: 4.2%;
  margin-right: 4.2%;
  border: 1px solid #003366;
  border-radius: 5px;
  background-color: #f0f0f0;

}
.tab-header{
background-color: white;
font-family: 'Lora', sans-serif;
height: fit-content;
padding: 10px;
width: 100%;
padding: 10px;
}
.Vehical{
  font-family: 'Cinzel', sans-serif;
  font-weight: normal;
    font-style: normal;
  border: 0.5px solid rgba(0, 0, 0, 0.055);
  padding: 1rem;
  border-radius: 5px;
 
}
.Vehical-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}


@media (max-width: 768px) {
  .Vehical{
    padding: 0.5rem;
    position: relative;
    border-radius: 5px;
    font-size: small;

  }
}
.Vehical:hover{
  background-color: white;
  border: 0.5px solid #0033663b;
}
.qoute-all{
  background-color: #003366;
  font-size: medium;
  border-radius: 5px;
  padding: 0.5rem;
}
@media (max-width: 320px) {
  .qoute-all{
    font-size: small;
  }
  .temprature a{
    font-size: small;
  }
}

.qoute-all a{
  text-decoration: none;
  font-family: 'Cinzel', sans-serif;
  color: white;
  margin: 0.5rem;
  
}
.vehical-qoute{
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
}
@media (max-width: 768px) {
  .vehical-qoute{
    display: grid;
    grid-template-columns: 95%;
    justify-content: center;
  }
}
.vehical-qoute p{
  padding: 0.5rem;
  font-family: 'Lora', sans-serif;
}
.temprature{
  background-color: #003366;
  font-size: large;
  border-radius: 5px;
  padding: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.temprature a{
  text-decoration: none;
  color: white;
  font-family: 'Cinzel', sans-serif;
}
/****************************************/
.Book {
  padding: 1rem;
  display: grid;
  grid-template-columns: 50%;
  grid-row: inherit;
  justify-content: center;

}
@media (max-width: 426px) {
  .Book {
    padding: 1rem;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    .book-p{
      width: 110% !important;
      font-size: 10px;
    }
  } 
}
.book-p{
  padding: 0.5rem;
}
