body{
    background-color: rgb(231, 231, 231) !important;
}
.nav-header{
   
    
    
}
@media (max-width: 786px) {
    nav{
        height: auto !important;
    }
    .nav-header{
        display: none !important;
    }
    .b-circle{
        display: none;
    }
    .nav-link{
        font-size: 18px;
        text-align: left !important;

    }
    .nav-text{
        margin-left: -0.7rem !important;
        padding: 2rem;
        width: 150%;
       
    }
    .nav-item{
        margin-left: 0px;
    }
    .angle{
        display: inline !important;
        position: absolute;
        right: 2%;
        font-size: 2rem;
    }
}

.logo-t{
    font-size: 15px;
}
.nav-text{
    font: 1rem "Resolve Sans Light", sans-serif !important;
    color: #0A2071 !important;
    border-left: 2px solid #0a20717a !important;
    text-align: center;
   
}
.nav-text:hover{
    color: red !important;
    border-left: 2px solid red !important;
}

.nav-text-l{
    font: 1rem "Resolve Sans Light", sans-serif !important;
    color: #0A2071 !important;
    text-align: center;
}
.nav-text-l:hover{
    color: red !important;
}
.b-circle{
    color: red;
    position: absolute;
    right: 10%;
    top: 22%;
    font-size: 2rem;
    border-left: 2px solid #0a20717a !important;
}
.b-circle:hover{
    border-left: 2px solid red !important;
}
/********************** navbar header **********************/
.nav-h-text{
    font-size: 0.700rem;
    color: #0A2071 !important;
}
.nav-h-text:hover{
    color:red !important;
}
.angle{
    display: none;
}


/* dropdown content */
.dropdown-content{
    display: none;
}
