

  footer{
    background-color: #2F2F2F;
    color: white;
    text-align: center;
    padding: 2rem 1rem 0.3rem 1rem;
   
  }

  footer .footer-logo img{
    max-width: 7rem;
 
  }
  .footer-links{
    text-decoration: none;
  }

  footer p{
    text-align: start;
    font-weight: normal;
    font-size: 0.7rem;
  }

  footer .footer-links{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
  }

  footer .footer-links h2{
    margin-top: 0;

  }

  footer .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  footer .footer-links a{
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
  }


  footer .footer-cta{
    text-align: start;
  }

  footer .footer-cta form{
    display: flex;
    align-items: center;
    position: relative;
    margin-block: 1.7rem;
  
  }

  footer .footer-cta form button{
    background-color:transparent;
    border: none;
    position: absolute;
    right: 0.2rem;
    cursor: pointer;
  }

  footer .footer-cta form input{
    padding: 0.6rem; 
    width: 100%;
    border: 2px solid #72bf40;
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
  }
  footer .footer-cta form input:focus{
    border: 3px solid #72bf40; 
    outline: none;
  }
  footer .footer-cta form img{
    max-width: 1.2rem;
  }

  footer .social-medias{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  footer .social-medias img{
    max-width: 1.2rem;
    background-color: #72bf40;
    padding: 0.2rem;
    box-sizing: content-box;
    border-radius: 5px;
  }

  footer .copyright{
    text-align: center;
  }


  @media screen and (min-width: 650px) {

    footer{
        padding: 2rem 3rem 0.3rem 3rem;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 4fr; 
        gap: 3.5rem;
    }

    .logo{
        align-self: center;
    }
  }

  @media screen and (min-width: 970px){

    nav ul{
        display: none;
    }

    footer{
        padding: 3rem 6rem 0.3rem 6rem;
    }
    .footer{
        grid-template-columns: 1fr 2fr 1fr 2fr
    }
  }